In [1]:
#this file turns the lab value columns into one adjusted lab value by dividing the real lab value by the high of the reference range value

In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
df1 = pd.read_csv(
     '../FormattedData/stage5_1a.csv'
)

C:\Users\Adam Lam\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (17,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df1

,Unnamed: 0,pt_identifier,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,...,Most_responsible,pre_admit,post_admit,secondary,Lactate_Value,Lactate_High_Low,Lactate_Ref_Range,WBC_Value,WBC_High_Low,WBC_Ref_Range
0,0,H1000412,0.0,125.0,79.0,96.0,37.4,13.0,96.0,81.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,H1000412,23.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,...,0,0,0,0,NaN,NaN,NaN,10.4,NaN,4.0-11.0
2,2,H1000412,450.0,138.0,76.0,98.0,36.8,16.0,98.0,81.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,H1000412,467.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,...,0,0,0,0,NaN,NaN,NaN,12.0,H,4.0-11.0
4,4,H1000412,531.0,116.0,84.0,88.0,36.9,17.0,97.0,81.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312753,312753,Z991743,129228.0,153.0,64.0,58.0,36.5,16.0,96.0,92.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
312754,312754,Z991743,129238.0,NaN,NaN,NaN,NaN,NaN,NaN,92.0,...,0,0,0,0,NaN,NaN,NaN,8.800000,NaN,4.0-11.0
312755,312755,Z991743,129966.0,152.0,65.0,63.0,36.6,18.0,94.0,92.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
312756,312756,Z991743,130680.0,174.0,70.0,69.0,36.7,16.0,92.0,92.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
312757,312757,Z992617,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,NaN,NaN,NaN,13.100000,H,4.0-11.0

In [5]:
del df1["Lactate_High_Low"]

In [6]:
del df1["WBC_High_Low"]

In [7]:
del df1["Unnamed: 0"]

In [8]:
df1

,pt_identifier,new_date,BP1,BP2,Pulse,Temp,RR,O2Sat,Age_Number,Gender,Weight,Diag_desc,Most_responsible,pre_admit,post_admit,secondary,Lactate_Value,Lactate_Ref_Range,WBC_Value,WBC_Ref_Range
0,H1000412,0.0,125.0,79.0,96.0,37.4,13.0,96.0,81.0,F,NaN,0,0,0,0,0,NaN,NaN,NaN,NaN
1,H1000412,23.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0,NaN,NaN,10.4,4.0-11.0
2,H1000412,450.0,138.0,76.0,98.0,36.8,16.0,98.0,81.0,F,NaN,0,0,0,0,0,NaN,NaN,NaN,NaN
3,H1000412,467.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,F,NaN,0,0,0,0,0,NaN,NaN,12.0,4.0-11.0
4,H1000412,531.0,116.0,84.0,88.0,36.9,17.0,97.0,81.0,F,NaN,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312753,Z991743,129228.0,153.0,64.0,58.0,36.5,16.0,96.0,92.0,F,63.0,0,0,0,0,0,NaN,NaN,NaN,NaN
312754,Z991743,129238.0,NaN,NaN,NaN,NaN,NaN,NaN,92.0,F,63.0,0,0,0,0,0,NaN,NaN,8.800000,4.0-11.0
312755,Z991743,129966.0,152.0,65.0,63.0,36.6,18.0,94.0,92.0,F,63.0,0,0,0,0,0,NaN,NaN,NaN,NaN
312756,Z991743,130680.0,174.0,70.0,69.0,36.7,16.0,92.0,92.0,F,63.0,0,0,0,0,0,NaN,NaN,NaN,NaN
312757,Z992617,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN,13.100000,4.0-11.0

In [9]:
rows = len(df1)
rows

312758

In [10]:
print (df1.iloc[15][18])
print (type(df1.iloc[15][18]))

print(df1.iloc[15][19])
print (type(df1.iloc[15][19]))

6.6
<class 'str'>
4.0-11.0
<class 'str'>

In [11]:
def get_higher_value(text):
    newer = text.split("-")[-1]
    return float(newer)

In [12]:
i=0
#16, 17, 18, 19
lactate_list = []
wbc_list = []
while i<rows:
    value1 = df1.iloc[i][16]
    try:
        value1 = float(value1)
    except:
        if "<" in value1:
            value1 = value1.split("<")[-1]
            value1 = value1.strip()
            value1 = float(value1)
        elif ">" in value1:
            value1 = value1.split(">")[-1]
            value1 = value1.strip()
            value1 = float(value1)

    if not math.isnan(value1):
        init_l = value1
        string_l = df1.iloc[i][17]
        newer_float_l = get_higher_value(string_l)

        final_l = init_l/newer_float_l
        lactate_list.append(final_l)
    else:
        lactate_list.append(float(0))
    

    value2 = df1.iloc[i][18]
    try:
        value2 = float(value2)
    except:
        if "<" in value2:
            value2 = value2.split("<")[-1]
            value2 = value2.strip()
            value2 = float(value2)
        elif ">" in value2:
            value2 = value2.split(">")[-1]
            value2 = value2.strip()
            value2 = float(value2)

    if not math.isnan(value2):
        init_w = value2
        string_w = df1.iloc[i][19]
        newer_float_w = get_higher_value(string_w)

        final_w = init_w/newer_float_w
        wbc_list.append(final_w)
    else:
        wbc_list.append(float(0))
    

    i+=1

In [13]:
df1["Lactate_adjusted"] = lactate_list
df1["WBC_adjusted"] = wbc_list

In [14]:
del df1["Lactate_Value"]
del df1["Lactate_Ref_Range"]
del df1["WBC_Value"]
del df1["WBC_Ref_Range"]

KeyError: 'Lactate_Ref_range'

In [ ]:
df1 = df1[['pt_identifier', 'new_date', 'BP1', 'BP2', 'Pulse', 'Temp', 'RR', 'O2Sat',
       'Age_Number', 'Gender', 'Weight', 'Diag_desc',
       'Most_responsible', 'pre_admit', 'post_admit', 'secondary', 'Lactate_adjusted', 'WBC_adjusted']]

In [ ]:
df1

In [ ]:
df1.to_csv('stage5_1b.csv')